// .cartCounterContainer {
//     display: flex;
//     gap: 5px;
//     justify-content: space-between;
//     align-items: center;
// }

.counter {
    font-size: 16px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 18px;
    position: absolute;
    top: -10px;
    right: 41px;
}

.cartSvg {
    width: 26px;
    height: 26px;
    margin-top: 10px;
    // position: absolute;
    // top: 19px;
    // right: 15px;
    cursor: pointer;
    fill: white;


  

    // &:hover {


    //     fill: gold;

        &:active {
            fill: gold;
        }
    }
