.itemContainer {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: lightgrey;
}

.image {
    width: 20%; 
    height: 40%;  
    border-radius: 20px;
}

.addInfo, 
.price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.addInfo{
    color: #2d4373;
    font-weight: bold;
}
.deleteBtn { 
    height: 40px;
    background-color: #2d4373;
    color: #FFFFFF;
}
