.productCard {
    border: 1px solid #ccc;
    border-radius: 33px;
    padding: 20px 20px 75px;
    cursor: pointer;
    user-select: none;
    position: relative;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  
  
    img {
      width: 100%;
      aspect-ratio: 1;
      margin-bottom: 15px;
      object-fit: contain;
    }
  
    .productName {
      font-size: 24px;
      color: #333;
      margin-bottom: 15px;
      text-align: center;
    }
  
  
    .productPrice {
      color: #2d4373;
      font-weight: bold;
      font-size: 20px;
   
    }
  }
  
  .svgWrapper {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 7px;
    fill: #333;
    &:hover {
      cursor: pointer;
      fill: gold
    }
  }
  
  .addToCartBtn {
    // position: absolute;
    // bottom: 20px;
    // left: 79px;
    background: #2d4373;
    color: white;
    padding: 8px 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 7px;
    margin: 0 auto;
  
  
    &:hover {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      background: darkblue;
    }
  
    &:active {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }
  
  }