.buttonsContainer,
.footer {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}



.modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 350px;
    border-radius: 10px;
    background-color: white;
    color: #191919;
    display: flex;
    flex-direction: column;
    padding: 32px;
    position: relative;
}

.modalImage {
    width: 150px;
    height: 250px;
    background-color: beige;
    margin: 0 auto;
    margin-bottom: 25px;
}
img {
    width: 150px;
    height: 250px;
}

.closeModalBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 12px;
    right: 0;
}

.closeModalSvg {
    width: 22px;
    height: 22px;
    fill: grey;
}

.modalHeader {
    font-size: 32px;
    text-align: center;
    margin-bottom: 32px;
}

.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.bodyText {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 500;
    color: grey;
}

.modalBackground {
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: fit-content;
}



.openFirstModalBtn {
    background-color: #2d4373;
    color: #FFFFFF;
    &:hover {
        background-color: #FFFFFF;
        border-color: #2d4373;
        color: #2d4373;
    }
}

.openSecondModalBtn {
    border-color: #2d4373;
    color: #2d4373;
    &:hover {
        background-color: #2d4373;
        color: #FFFFFF;
    }
}
