.container {
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #2d4373;
  width: 100%;   
}

.shopName {
  font-size: 34px;
  font-weight: 700;
  line-height: 2.6px;
  text-decoration: none;
  color: lightgray;
  
}

.cartContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 28px;
}

.homePage {
  text-decoration: none;  
}

.active {
  fill: yellow;
}

svg {
  fill: lightgray;
}
