.FavouriteCounterContainer {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.counter {
    font-size: 16px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 18px;
    position: absolute;
    top: -10px;
    right: 82px;
}

.active svg {
    fill: gold;
}
